name: Build precompiled NIFs

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build_release:
    name: NIF ${{ matrix.nif }} - ${{ matrix.job.target }} (${{ matrix.job.os }})
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        nif: ["2.15", "2.16", "2.17"]
        job:
          - { target: aarch64-apple-darwin,        os: macos-15 }
          - { target: x86_64-apple-darwin,         os: macos-15 }
          - { target: aarch64-unknown-linux-gnu,   os: ubuntu-22.04, use-cross: true }
          - { target: aarch64-unknown-linux-musl,  os: ubuntu-22.04, use-cross: true }
          - { target: x86_64-unknown-linux-gnu,    os: ubuntu-22.04 }
          - { target: x86_64-unknown-linux-musl,   os: ubuntu-22.04, use-cross: true }
          - { target: x86_64-pc-windows-gnu,       os: windows-2022 }
          - { target: x86_64-pc-windows-msvc,      os: windows-2022 }

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract project version
        shell: bash
        run: |
          echo "PROJECT_VERSION=$(sed -n 's/^ *@version "\(.*\)"/\1/p' mix.exs | head -n1)" >> $GITHUB_ENV

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.job.target }}

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: v0-precomp
          shared-key: ${{ matrix.job.target }}-${{ matrix.nif }}
          workspaces: native/typst_nif

      - name: Build precompiled NIF
        id: build-crate
        uses: philss/rustler-precompiled-action@v1.1.4
        with:
          project-name: typst_nif
          project-version: ${{ env.PROJECT_VERSION }}
          target: ${{ matrix.job.target }}
          nif-version: ${{ matrix.nif }}
          use-cross: ${{ matrix.job.use-cross || false }}
          cross-version: "from-source"
          project-dir: "native/typst_nif"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build-crate.outputs.file-name }}
          path: ${{ steps.build-crate.outputs.file-path }}

      - name: Publish to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ steps.build-crate.outputs.file-path }}
